@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Chonburi&family=Grandstander&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Grandstander', cursive;
}

body{
    background: linear-gradient(to right, #1f4037, #99f2c8);;
    height: 100vh;
}
.container{
    position: absolute;
    width: 50%;
    min-width: 580px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: #ffffff;
    padding: 50px 10px;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.4);
    display: grid;
    justify-items: center;
}

input[type="number"]{
    width: 90px;
    font-size: 18px;
    font-weight: 570;
    color: #3d6c5b;
    padding: 20px 0;
    text-align: center;
    margin-top: 30px;
    border-radius: 5px;
    border: 2px solid #202020;
}

/* type number iken inputun içinde yer alan okları kaldırıyor */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type=number]{
    -moz-appearance: textfield;
}

button{
    width: 160px;
    padding: 10px 40px;
    border-radius: 5px;
    background: #1f4037;
    color: #ffffff;
    font-size: 17px;
    font-weight: 500;
    border: 2px solid #99f2c8;
    text-transform: uppercase;
}

 /* play again kısmını ortaladı ve display none vererek görünmesini engelledi*/
.prompt_box{
    display: none;
    /* position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  */
}
 /* active class ı çağrıldıgında ekranda görünecek */
.prompt_box.active{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn{
    max-width: fit-content;
}